$font-primary:        "robotoregular", Arial, "Helvetica Neue", Helvetica, sans-serif;

$line-height			    :1.8rem;
$font-size-base				:62.5%;
$font-size-small			:1.1rem;
$font-size-normal			:1.3rem;
$font-size-medium			:1.5rem;
$font-size-big				:2.0rem;

$font-weight-medium         : 500;

$bg-color                   :#fcfcfc;
$primary-color              :#337ab7;        //green
$accent-color               :#CE1443;        //pink
$tertiary-color             :#AAF2EA;        //cyan
$slate-color                :#c9c0c0;        //gray-dark
$mute-color                :#F7F7F7;        //gray-dark

$text-color-primary         :#666;           //black
$text-color-gray            :#999;           //gray