@import "variables.scss";
@import "font-mixins.scss";

@include font-face("Futura2-Normal", "../fonts/Roboto-Regular-webfont");
html{
    font-size: $font_size_base;vertical-align: baseline;font-weight: normal;
}
body{
    background: $bg-color;font-weight: normal;font-size: $font-size-normal;line-height: $line-height;font-family: $font-primary;color: $text-color-primary;
}
%clearfix{
    &:after{
        content: '.';clear: both;height: 0;visibility: hidden;display: block;
    }
}

/*======================================================*/
/*overrides*/
ul, ol{
    padding-left: 15px;list-style-type: none;
}
a:focus, a:hover{
    color: #7189d8;text-decoration: none;
}
.form-control{
    border-radius: 2px;
}
.btn{
    border-radius: 2px;
}
.btn-group-sm>.btn, .btn-sm{
    border-radius: 2px;
}
.btn-group-xs>.btn, .btn-xs{
    border-radius: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 6px 8px;
}

/*======================================================*/
/*componenets*/
.table-box{
    min-height: 150px;
}
.table-primary{
    background: #fff;
}
.table-noborder{
    >tbody>tr>td, >tbody>tr>th, >tfoot>tr>td, >tfoot>tr>th, >thead>tr>td, >thead>tr>th{
        border-top: 0;
    }    
}

.breadcrumb{
    margin-bottom: ($line-height / 3);background-color: transparent;padding-left: 0;
}
.menu-tree{
    display: none;padding-left: 10px;
    .left-pane > & {
        display: block;padding-left: 0;
    }
    ul{
        padding: 0;
    }
    .item-name{
        margin-bottom: 2px;/*display: inline-block;*/font-weight: bold;color: #999;cursor: pointer;
        &.active{
            color: $primary-color;
        }
        &.opened + .menu-tree{
            display: block;
        }
    }
    .btn{
        outline: 0;
    }
}

/*======================================================*/
/*header*/
.wrapper-header{
    @extend %clearfix;
    clear: both;background-color: $primary-color;
    > .container{
        padding-top: ($line-height / 3);
    }
}
.logo{
    float: left;font-weight: bold;margin: 0;font-size: $font-size-big;line-height: ($line-height * 1.5);
    a{
        color: #fff;text-decoration: none;
    }
}
.header-tools{
    float: right;
    li{
        display: inline-block;vertical-align: middle;list-style-type: none;margin-left: 1rem;
    }
}
.main-toolbar{
    background: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, .2);z-index: 5;
    padding-top: ($line-height / 3);padding-bottom: ($line-height / 3);
    .search-primary{
        display: inline-block;
    }
}
.panel-basic{
    > .panel-heading{
        padding-bottom: 0;
        .panel-title{
            font-weight: bold;font-size: $font-size-medium;
        }
    }
}
.info-panel-box{
    border-top: 2px solid #eee;
}
/*======================================================*/
/*content*/
.wrapper-main{
    @extend %clearfix;
    clear: both;/*min-height: 20rem;min-height: calc(100vh - (8.9rem));*/margin-bottom: $line-height;
}

.popup-wrapper{
    position: fixed;width: 100%;height: 100%;overflow: hidden;top: 0;left: 0;z-index: 100;
}
.popup-overlay{
    position: fixed;width: 100%;height: 100%;background: #000;background: rgba(0, 0, 0, .8);
}
.popup-panel{
    width: 100%;max-width: 400px;z-index: 101;position: relative;margin: 30px auto 0;
}
.toolbar-box{
    background: darken($bg-color, 5%);
}
.btn-group{
    transition: .3s;
    .toolbar &{
        width: 250px;
    }
    .toolbar.collapsed &{
        width: 60px;
    }

}
.collaboration-pane{
    overflow: hidden;
}
.tree-pane{
    float: left;width: 0;width: 230px;transform: translate3d(0, 0, 0);transition: .3s;
    .collaboration-pane.collapsed &{
        transform: translate3d(-230px, 0, 0);width: 0;
    }
}
.left-pane{
    overflow: auto;
}
.explorer-pane{
    margin-left: 250px;transition: .3s;
    .collaboration-pane.collapsed &{
        margin-left: 0;
    }
}
.explorer-pane-inner{
    float: left;width: 100%;
}
.paginaton-box{
    text-align: right;
}
.table-title-col{
    width: 50%;
}
.table-select-col{
    width: 30px;
}
/*======================================================*/
/*footer*/
.wrapper-footer{
    height: ($line-height);text-align: center;position: fixed;bottom: 0;left: 0;width: 100%;background: darken($bg-color, 5%);
    small{
        margin: 0;line-height: ($line-height);
    }
}