<div>
    <div class="container">
        <header class="main-toolbar">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Collaboration</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <button type="button" class="btn btn-success" ng-click="CollaborationListVM.activateCollaborationDialog(true)">Create Collaboration</button>
                    <form class="form-inline search-primary" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control text-right" id="exampleInputEmail2" placeholder="Collaboration Search..." title="Collaboration Search" ng-model="CollaborationListVM.filterText">
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <table class="table table-hover table-primary">
            <thead>
                <tr>
                    <th>Collaboration Name</th>
                    <th>Title Holder</th>
                    <th>Start Date</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in CollaborationListVM.collaborationList | filter: CollaborationListVM.filterText track by item.id">
                    <td><a ui-sref="collaborationDetails({collaborationId:1})">{{item.name}}</a></td>
                    <td>{{item.titleHolder}}</td>
                    <td>{{item.startDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{item.expiryDate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{item.status}}</td>
                    <td class="text-right">
                        <button class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="sr-only">Edit</span>
                        </button>
                        <button class="btn btn-danger btn-xs" ng-click="CollaborationListVM.deleteCollaborationItem(item)">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span class="sr-only">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section class="popup-wrapper" ng-show="CollaborationListVM.isModelOpen">
        <div class="popup-overlay"></div>
        <div class="panel panel-default popup-panel">
            <header class="panel-heading clearfix">
                <h1 class="panel-title pull-left">Create new Collaboration</h1>
                <button type="button" class="close" aria-label="Close" ng-click="CollaborationListVM.activateCollaborationDialog(false)"><span aria-hidden="true">&times;</span></button>
            </header>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="collabName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="collabName" ng-model="CollaborationListVM.newCollaboration.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="collabDescription" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="collabDescription" ng-model="CollaborationListVM.newCollaboration.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="collabTitleHolder" class="col-sm-4 control-label">Title Holder</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="collabTitleHolder" ng-model="CollaborationListVM.newCollaboration.titleHolder">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="collaborationStartDate" class="col-sm-4 control-label">Start Date</label>
                        <div class="col-sm-8">
                            <p class="input-group">
                                <input type="text" id="collaborationStartDate" class="form-control" uib-datepicker-popup="{{CollaborationListVM.format}}" ng-model="CollaborationListVM.newCollaboration.startDate" ng-required="true" close-text="Close" is-open="CollaborationListVM.startDateOpen" datepicker-options="CollaborationListVM.dateOptions">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="CollaborationListVM.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="collaborationExpiryDate" class="col-sm-4 control-label">Start Date</label>
                        <div class="col-sm-8">
                            <p class="input-group">
                                <input type="text" id="collaborationExpiryDate" class="form-control" uib-datepicker-popup="{{CollaborationListVM.format}}" ng-model="CollaborationListVM.newCollaboration.expiryDate" ng-required="true" close-text="Close" is-open="CollaborationListVM.expiryDateOpen" datepicker-options="CollaborationListVM.dateOptions">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="CollaborationListVM.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary" ng-click="CollaborationListVM.createCollaborationItem(CollaborationListVM.newCollaboration)">Save</button>
                            <button type="button" class="btn btn-default" ng-click="CollaborationListVM.activateCollaborationDialog(false)">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>