$font-primary:        Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-line-height			:1.8rem;
$font-size-base				:62.5%;
$font-size-small			:1.2rem;
$font-size-normal			:1.4rem;
$font-size-medium			:1.6rem;
$font-size-big				:2.0rem;

$font-weight-medium         : 500;

$bg-color                   :#d9dbdc;
$primary-color              :#00AF9A;        //green
$accent-color               :#CE1443;        //pink
$tertiary-color             :#AAF2EA;        //cyan
$slate-color                :#c9c0c0;        //gray-dark
$mute-color                :#F7F7F7;        //gray-dark

$text-color-primary         :#333;           //black
$text-color-gray            :#999;           //gray